#map { 
    height: 600px; 
    width: 600px; 
    border-radius: 12px;
    border: 7px solid rgb(146, 141, 141);
}

#main{
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#teste{
    background-color: black;
    color:white;
}